@model RA_App.Models.Form

@{
    ViewBag.Title = "FeedbackDetails";
}

<h2>View Feedback</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.StudName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YOS)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.StudentFeedBack)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.StudentFeedBack, 10, 120, htmlAttributes: new { style = "width: 60%; max-width: 60%;", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RAFeedback)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.RAFeedback, 10, 120, htmlAttributes: new { style = "width: 60%; max-width: 60%;", @readonly = true })
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.StudentRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentRating) / 5
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.RARating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RARating) / 5
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Name)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@


@if (User.IsInRole("RA"))
{
    <div>
        @Html.ActionLink("Back to List", "MyIndex")
    </div>
}

@if (User.IsInRole("Admin"))
{
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}